	@media (max-width: 992px)/*colocando o menu hamburguer*/
{
	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	   
	}
	#header a img{
		float: right;
	}
		header.active ul {
	    visibility: visible;
	    opacity: 1;
	    display: block;
	    padding-top: 63px;
	    margin-top: 0px;
	    background: #0954f4;
	}
	.row>* {
	    flex-shrink: 0;
	    width: 100%;
	    max-width: 50% !important;
	    padding-right: calc(var(--bs-gutter-x)/ 2);
	    padding-left: calc(var(--bs-gutter-x)/ 2);
	    margin-top: var(--bs-gutter-y);
	}
	.row-sobre{
		text-align: center;
	}
	.container.mb-3, .my-3 {
	    margin-bottom: 1rem!important;
	    padding-top: 50px;
	    max-width: max-content;
	    margin: 0px;
	    margin-top: 0px;
	}
	header.sticky ul li a {
	    color: #fff;
	}
	.row {
	    display: -ms-flexbox;
	    display: flex !important;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-right: -15px;
	    margin-left: -15px;
	}
	#home{
	    display: block;
	    padding-top: 10px;
	}
	.container .mb-3 {
	    max-width: 1086px !important;
	}
}
/***********************************************************************/
@media(max-width: 860px){
 	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	} 
	#header a img{
		float: right;
	}
	header.active ul {
	    visibility: visible;
	    opacity: 1;
	    display: block;
	    padding-top: 63px;
	    margin-top: 0px;
	    background: #0954f4;
	}
	.row>* {
	    flex-shrink: 0;
	    width: 100%;
	    max-width: 50% !important;
	    padding-right: calc(var(--bs-gutter-x)/ 2);
	    padding-left: calc(var(--bs-gutter-x)/ 2);
	    margin-top: var(--bs-gutter-y);
	}
	header.sticky ul li a {
	    color: #fff;
	}
	.row {
	    display: -ms-flexbox;
	    display: flex !important;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-right: -15px;
	    margin-left: -15px;
	}
}
/***********************************************************************/
@media(max-width: 768px){
  .toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}
	#parallaxBar {
	    height: auto;
	    background-repeat: no-repeat;
	    background-color: #004c82;
	    background: url(../img/teste4.webp) 50% 0 fixed;
	    position: relative;
	    background-repeat-y: no-repeat;
	    background-position: 67% 100px !important;
	}
	header.active ul {
	    visibility: visible;
	    opacity: 1;
	    display: block;
	    padding-top: 63px;
	    margin-top: 0px;
	    background: #0954f4;
	}
	.mb-0 {
	    text-align: initial;
	}
	.row>* {
	    flex-shrink: 0;
	    width: 100%;
	    max-width: 100% !important;
	    padding-right: calc(var(--bs-gutter-x)/ 2);
	    padding-left: calc(var(--bs-gutter-x)/ 2);
	    margin-top: var(--bs-gutter-y);
	}
	header.sticky ul li a {
	    color: #fff;
	}
	.row {
	    display: -ms-flexbox;
	    display: block !important;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-right: -15px;
	    margin-left: -15px;
	}
} 
/***********************************************************************/
@media(max-width: 575px){
 	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}
	#parallaxBar {
	    height: auto;
	    background-repeat: no-repeat;
	    background-color: #004c82;
	    background: url(../img/teste4.webp) 50% 0 fixed;
	    position: relative;
	    background-repeat-y: no-repeat;
	    background-position: 67% 100px !important;
	}
	header.active ul {
	    visibility: visible;
	    opacity: 1;
	    display: block;
	    padding-top: 63px;
	    margin-top: 0px;
	    background: #0954f4;
	}
	.mb-0 {
	    text-align: initial;
	}
	header.sticky ul li a {
	    color: #fff;
	}
}
/***********************************************************************/
@media(max-width: 480px){
  .toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}
	#parallaxBar {
	    height: auto;
	    background-repeat: no-repeat;
	    background-color: #004c82;
	    background: url(../img/teste4.webp) 50% 0 fixed;
	    position: relative;
	    background-repeat-y: no-repeat;
	    background-position: 67% 100px !important;
	}
	header.active ul {
	    margin-top: 0px;
	    background: #0954f4;
	}
	.mb-0 {
	    text-align: initial;
	}
	header.sticky ul li a {
	    color: #fff;
	}
}
/***********************************************************************/
@media(max-width: 414px){
  .toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}
	#parallaxBar {
	    height: auto;
	    background-repeat: no-repeat;
	    background-color: #004c82;
	    background: url(../img/teste4.webp) 50% 0 fixed;
	    position: relative;
	    background-repeat-y: no-repeat;
	    background-position: 67% 100px !important;
	}
	header.active ul {
	    visibility: visible;
	    opacity: 1;
	    display: block;
	    padding-top: 63px;
	    margin-top: 0px;
	    background: #0954f4;
	}
	.mb-0 {
	    text-align: initial;
	}
	header.sticky ul li a {
	    color: #fff;
	}
}
/***********************************************************************/
@media(max-width: 375px){
	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}
	#parallaxBar {
	    height: auto;
	    background-repeat: no-repeat;
	    background-color: #004c82;
	    background: url(../img/teste4.webp) 50% 0 fixed;
	    position: relative;
	    background-repeat-y: no-repeat;
	    background-position: 67% 100px !important;
	}
	header.active ul {
	    visibility: visible;
	    opacity: 1;
	    display: block;
	    padding-top: 63px;
	    margin-top: 0px;
	    background: #0954f4;
	}
	.mb-0 {
	    text-align: initial;
	}
	header.sticky ul li a {
	    color: #fff;
	}
}
/***********************************************************************/
@media(max-width: 320px){
	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before
	{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after
	{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}
	header,
	header.sticky
	{
		padding: 5px 20px;/* deixa o logo e o munu hamb mais nas laterais*/
		background: #fff;
	    padding-top: 10px;	
	}

	header ul
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul 
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
		background: #ea1010;
	}
	header.active ul li a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}
	#parallaxBar {
	    height: auto;
	    background-repeat: no-repeat;
	    background-color: #004c82;
	    background: url(../img/teste4.webp) 50% 0 fixed;
	    position: relative;
	    background-repeat-y: no-repeat;
	    background-position: 67% 100px !important;
	}
	header.active ul {
	    visibility: visible;
	    opacity: 1;
	    display: block;
	    padding-top: 63px;
	    margin-top: 0px;
	    background: #0954f4;
	}
	.mb-0 {
	    text-align: initial;
	}
	header.sticky ul li a {
	    color: #fff;
	}
}