.bg-dark {
	background: linear-gradient(55deg, tomato, purple)!important;
}
.row {
	margin:0 ! important;
    --bs-gutter-x: 0rem; 
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}